Multiple headers

Sometimes, there can be multiple headers with the same name. It is the case for `Set-Cookie` which can appear a very lot of time.
With the actual `std::map<std::string, std::string>` only the last header (with the same name) is takken into account.

I suggest using a different implementation for the headers.
```cpp
std::map<std::string, std::vector<std::string>>
```

We can still use it easly
```cpp
headers[name].push_back(value);
```

This is a trade off we had to make. We chose the common case over the edge case.
You'll need to concatenate yourself the headers in one (as defined by [RFC 2616 section 4.2](https://tools.ietf.org/html/rfc2616#section-4.2)).

Ok, sounds good for me.

Please look [here](https://stackoverflow.com/q/11533867).
As said in the first answer, this comma separated headers are not fully suported but the multiple headers are.
Plus, the RFC you gave is from 1999 and this one [here](http://www.rfc-editor.org/rfc/rfc6265.txt) is more recent.

What is your decision ? Stay with the comma separated headers ?

We have to implement RFC 2616, so unless we encounter problems I think we should choose simplicity.